.nav-container {
    /* background-color: aliceblue;
    width: 100%;
    height: 60px; */
}

.nav {
    /* display: inline-block;
    display: flex;
    justify-content: space-around; */
}

.nav li {
    list-style: none;
}